# **EDA for Test Data**

In [2]:
import os
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('bmh')
plt.rcParams['font.size'] = 10

# import my module eda_plots as edap
import m_eda_plots as edap

client_path = 'data/client_test.csv'
invoice_path = 'data/invoice_test.csv'

### **Test Data EDA**

In [3]:
client = pd.read_csv(client_path)
invoice = pd.read_csv(invoice_path)

client_size = os.path.getsize(client_path)
invoice_size = os.path.getsize(invoice_path)

print(f'Data client has {client.shape[0]} rows and {client.shape[1]} columns')
print(f'Data invoice has {invoice.shape[0]} rows and {invoice.shape[1]} columns')

print(f'Data client has {client_size} bytes')
print(f'Data invoice has {invoice_size} bytes')

Data client has 58069 rows and 5 columns
Data invoice has 1939730 rows and 16 columns
Data client has 2253632 bytes
Data invoice has 146577388 bytes

In [4]:
df = pd.merge(client, invoice, on='client_id', how='left')
df.head()

,disrict,client_id,client_catg,region,creation_date,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,62,test_Client_0,11,307,28/05/2002,2018-03-16,11,651208,0,203,8,1,755,0,0,0,19145,19900,8,ELEC
1,62,test_Client_0,11,307,28/05/2002,2014-03-21,11,651208,0,203,8,1,1067,0,0,0,13725,14792,8,ELEC
2,62,test_Client_0,11,307,28/05/2002,2014-07-17,11,651208,0,203,8,1,0,0,0,0,14792,14792,4,ELEC
3,62,test_Client_0,11,307,28/05/2002,2015-07-13,11,651208,0,203,9,1,410,0,0,0,16122,16532,4,ELEC
4,62,test_Client_0,11,307,28/05/2002,2016-07-19,11,651208,0,203,9,1,412,0,0,0,17471,17883,4,ELEC

In [5]:
# inspect how many unique values in each column
for col in df.columns:
    print(f'"{col}" has {df[col].nunique()} contents: {df[col].unique()}')
    print('')

"disrict" has 4 contents: [62 69 60 63]

"client_id" has 58069 contents: ['test_Client_0' 'test_Client_1' 'test_Client_10' ... 'test_Client_9997'
 'test_Client_9998' 'test_Client_9999']

"client_catg" has 3 contents: [11 12 51]

"region" has 24 contents: [307 103 310 101 301 304 303 104 309 107 302 105 311 312 306 106 305 313
 308 371 372 379 399 206]

"creation_date" has 7388 contents: ['28/05/2002' '06/08/2009' '07/04/2004' ... '08/08/2005' '13/02/1986'
 '02/07/1991']

"invoice_date" has 6934 contents: ['2018-03-16' '2014-03-21' '2014-07-17' ... '1980-09-09' '1981-10-07'
 '1981-11-05']

"tarif_type" has 16 contents: [11 40 45 15 10 13 12 14  9 29 21  8 30 24 27 42]

"counter_number" has 91966 contents: [        651208         174760         799814 ... 27181100459790
  2168700021859         869269]

"counter_statue" has 6 contents: [0 1 5 4 3 2]

"counter_code" has 39 contents: [203 433 207   5 420  25 413 202 407  10 442 467 410 204 102 453 403 201
 565 532 210 600 214 101 450  40 506 483 305 310  65 325 317 307  16 222
 303 333 227]

"reading_remarque" has 4 contents: [8 9 6 7]

"counter_coefficient" has 7 contents: [ 1  2  0 21  4  3 10]

"consommation_level_1" has 6546 contents: [  755  1067     0 ...  6376  6361 12259]

"consommation_level_2" has 9700 contents: [    0   120   400 ...  9842 12138  5187]

"consommation_level_3" has 1862 contents: [   0  180  458 ...  829 1370 1447]

"consommation_level_4" has 8838 contents: [    0 12899    12 ... 11057  3758 10408]

"old_index" has 116512 contents: [19145 13725 14792 ... 98409 81073 76349]

"new_index" has 118365 contents: [19900 14792 16532 ... 61570 81073 76349]

"months_number" has 914 contents: [     8      4      2     12      6      1     10      3     16     20
     13      9     24     18      5     30     14      7     15     17
     28     11     32     36     40     22     26  84975     56     52
 211540 204304 362531 653216 221353 264560 418219 392841 371215 376986
 386117 398309 410486 425211 442116 433262 332143 471936 887827 882976
 873101 856944 845713 826319 433667 511842 563563 601025 235674 240029
 249437 258926 270572 284735 292735 300892 308774 323358 340773 350014
 866128 835815 815166 700819 671456 355389 612658 810650 801502 461519
 521918 530227 732355 721774 711577 691642 681681 501060 658692 227663
 774590 539326 634246 624054 592454 553440 643009 491854 581310 763966
 755900 482557 744396 277649 573985 317267     34     42     50     48
     68     21     46     25     38     64     47     60     44     37
  21479      0 112487 114924  96601 119712 101276 109282 106630     19
     74     31  83820  95037  93344  92001  90708  98084  96427  99817
  89131  85836  87413   2052    956  97761     80     23     62  21220
  27525  10286  11071  10627  26697  20773  22644   6838  27906  28256
  12340  24596  24270  22189  21705  27064  19695  23070   7597  23513
   8358   9457  24003  25179  18532   7216   7986   9882  20317  11483
  11905  12683  17570  15555   4213   4034   3514   3126  13203  18998
  19262   5201  13901  14990  14474  18048  17121  16619  15992   6098
   5670     49 683141 845807 828723 841197 854320 858208 865855 879970
 631905 625728 602283 325209 636704  44041 318935 116749 752940 774185
 799770 818801 311833 306283 300568 295836 290947 280500 747745 742579
 737929 732698 708740 276478 270117 265500 141939 244193 194813  88717
 286570 862462 404247 908029 916294 595234 587475 567250 563250 553002
 544829 526829 522162 469061 335338 464679 432766 426094 422094 418091
 413713 409522 397991 388603 900317 849983 330612 833524 342802 349904
 355139 358139 363808 368977 374679 814237 382011 665172 392900 460820
 495004 500208 512092 804360 165075 837157     29    234  43179  42455
  23857  24760  25425  26280  53699  58417   4737  99642  43701  46560
  13071   7593  11039  65836  95755  33129  40237  74439  71373  81419
  69610  86427  90526  93762  85055  16929  14226  23983  34587  43444
  66494  61173  57906  88360  85496  79952  98604   3204  73311  62602
  28392  37731  39595  54157  11723  14450  47409  32504   9179  90027
  20544  23827  26766  45443  35145  39182  42236  30371  11467  16031
   6198   2169  96746  91223  33508  49754  63535  65871  98346  26946
  11364  32834  49637  21974  19874     45  19009  23836 115544 170243
  25416  15790  30946 165579 241541 176882  28954 208974  12407 156822
 126377 174695 118361 109041  78651  47649  27498  27927 170913 172021
  26560 148930 202192  85048  52756  52843  75059  76303  51342  82650
  94557  96737 123919 210234 144792 211153 214960 129597 219985 216647
 139556 142392 136744  54307 222530 250341  64235 187127 103064 179842
  61963 105763 122674 227468 231043 248427 224201  56081 128342 247095
  58883 147369  99463 134104 146729  98472  49949  39251 204791  72529
 206577 182298 192657  35898  70481  42420  32739  45781     59     58
     72     54  36507  23369  51142  93927  36699  26699  61815  93078
 134036  84909  89907 110764  83300  74645 128696 131943  84232  49168
  67678  84075 100244  99450  83844 133836 125285 122440 119650 116036
 114834  50123  97655  69709  67307  66140  64423  55867  49835  50871
 117215 115782 108069 105372  98225 113194  26499  24840  98801  95617
  11112  10879  99253  24576  24467  11356  11615  11828  12348  10230
  18210  20385  22381  23987  24290  99073  10133  26449  25108     66
     67    137   8354 157614 155407 139518 174352 152316 151402 141415
 140002 169039 139142 179790 136203  71306  69167  66782 212811 212803
 179606 161095 153779 131259 212799 212775 196158 183563 181683  73403
 137803  75340  80735 134246 129202 117890 178579 108871 107757 107272
 106494 104001 101750  98432  94396  91088  86602  82778  77592 109822
 176676  34422 957255 957240 974274  49970 225704 578559 983164 348574
 214918 239703  54734 957181 955660 950424 287398   6812 584113 590740
  27189  35323 951522  70645  76956  44101 571653 611867 955417 619095
 955087 626404 961411 974195  27333 952918 956918 149389 990688 685482
 564444 676119 663801 657155 651901 644827 638884 631950 549232 461559
 428826 930143 954621 557267 419050 543591 535384 519625 598668 510550
 605001 679708 905681 894068 880682 850093 836860 816633 802827 779334
 763353 737668 714151 708048 703578 698665  62517 825889 746722 726474
 691093 669722 321492 270585 499014 171353 164182 158419 949972 144881
 139192 133358 125244 118036 110683 105803  98514  91904  81397  71173
  59251  39321  14756   5407 179328 186155 194206 200539 488247 472630
 448991 438969 395949 388840 380744 369167 337572 981777 328838 308673
 293772 278690 259999 251185 231721 220677 966971 208214 316481 949954
 948685     35   8744   8138   9774  13853   6770  28103   1269    849
  15083  23524  15498  22589  32621  32549  32185  28858  28332   6333
   8721  23020  30733  29777  29368  28090  26700   7559   7277   7024
  14173  14884  16381  17171  18378  19725  20920  27580  21716  22749
  23299  23702  23950  24459  24827  25080  25565   5577   2783  26320
  12726  32771  31715  33039  11518  13419   9999  12270  33011   8709
   8633   8389     27  20586  37082  13859  16995  77357  49779  34267
  39332  76470  84577  41139  32154  55715   6993   4107    566  71544
  66142  66135  63310  95099  58302  48456  39519  97637  97617   1888
  16812  16966  20218  22999  10560  59334  11789  45350  41319  31645
  29896  34304  23760  19815  15073  11806  51420  58868  64276  81155
  79207  85431  62349  91281  27649  24317  25037  18370   4734   5740
  19354  20095 487548 330338 545684 541979 537244 524509 516516 511674
 507087 502252 520460 302269 307578 324712 319842 316178 311306 484001
 492368 475506 466639 412360 497541 375149 367920 335014 384034 529432
 297269 340995 344661 350037 354556 533240 419314 422599 428605 359453
 441693 446381 452149 457262 461726 479681 415717 436359 362744 372301
 407573 379384 387669 393224 402323 397832  66450 105635  95839  53971
  85370  60276  74513  82521  77928  62279  62297  74108  66057  58682
  71685  71228  62098 574444 537942 531899 517214 498659 492622 491617
 476448 390854 475755 461477 455902 441918 434602 433496 481835 398328
 413841 455283 420575     41]

"counter_type" has 2 contents: ['ELEC' 'GAZ']

In [6]:
df.query('client_id == "test_Client_11501"').head(20)

,disrict,client_id,client_catg,region,creation_date,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
55791,63,test_Client_11501,51,312,27/10/2009,2010-02-12,45,5234763,0,40,6,1,5340,0,0,0,33497,38837,1,GAZ
55792,63,test_Client_11501,51,312,27/10/2009,2010-02-07,45,5234763,0,40,6,1,2939,0,0,0,15805,18744,1,GAZ
55793,63,test_Client_11501,51,312,27/10/2009,2011-02-06,45,5234763,0,40,6,1,5064,0,0,0,64558,69622,1,GAZ
55794,63,test_Client_11501,51,312,27/10/2009,2011-02-03,45,5234763,0,40,6,1,4447,0,0,0,50021,54468,1,GAZ
55795,63,test_Client_11501,51,312,27/10/2009,2013-03-05,45,5234763,0,40,6,1,3,9406,0,0,0,204304,211540,GAZ
55796,63,test_Client_11501,51,312,27/10/2009,2011-03-01,45,5234763,0,40,6,1,5093,0,0,0,38837,43930,1,GAZ
55797,63,test_Client_11501,51,312,27/10/2009,2012-03-04,45,5234763,0,40,9,1,4981,0,0,0,118053,123034,1,GAZ
55798,63,test_Client_11501,51,312,27/10/2009,2013-02-04,45,5234763,0,40,6,1,3,9947,0,0,0,196652,204304,GAZ
55799,63,test_Client_11501,51,312,27/10/2009,2013-04-02,45,5234763,0,40,9,1,6386,0,0,0,182433,188819,1,GAZ
55800,63,test_Client_11501,51,312,27/10/2009,2012-04-12,45,5234763,0,40,9,1,7273,0,0,0,168929,176202,1,GAZ
55801,63,test_Client_11501,51,312,27/10/2009,2012-02-11,45,5234763,0,40,9,1,6948,0,0,0,161981,168929,1,GAZ
55802,63,test_Client_11501,51,312,27/10/2009,2012-02-10,45,5234763,0,40,9,1,8930,0,0,0,153051,161981,1,GAZ
55803,63,test_Client_11501,51,312,27/10/2009,2012-04-09,45,5234763,0,40,9,1,7068,0,0,0,145983,153051,1,GAZ
55804,63,test_Client_11501,51,312,27/10/2009,2012-02-03,45,5234763,0,40,9,1,11732,0,0,0,106321,118053,2,GAZ
55805,63,test_Client_11501,51,312,27/10/2009,2012-04-06,45,5234763,0,40,9,1,6539,0,0,0,128598,135137,1,GAZ
55806,63,test_Client_11501,51,312,27/10/2009,2013-03-01,45,5234763,0,40,9,1,6231,0,0,0,176202,182433,1,GAZ
55807,63,test_Client_11501,51,312,27/10/2009,2015-06-01,45,5234763,0,40,9,1,3,9284,0,0,0,355389,362531,GAZ
55808,63,test_Client_11501,51,312,27/10/2009,2012-03-01,45,5234763,0,40,6,1,5527,0,0,0,100794,106321,1,GAZ
55809,63,test_Client_11501,51,312,27/10/2009,2011-02-12,45,5234763,0,40,6,1,6519,0,0,0,94275,100794,1,GAZ
55810,63,test_Client_11501,51,312,27/10/2009,2011-02-11,45,5234763,0,40,6,1,5237,0,0,0,89038,94275,1,GAZ

In [7]:
print(f'The original number of clients is {df.client_id.nunique()}')

new_df = df.query('months_number <= 500000')
print(f'New number of clients: {new_df.client_id.nunique()}')
# It wouldn't affect the number of clients if I drop the rows with months_number > 500000

The original number of clients is 58069
New number of clients: 58069

In [8]:
df.query('months_number > 500000').head(20)

,disrict,client_id,client_catg,region,creation_date,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
55811,63,test_Client_11501,51,312,27/10/2009,2017-02-08,45,5234763,0,40,9,1,3,13269,0,0,0,643009,653216,GAZ
55844,63,test_Client_11501,51,312,27/10/2009,2019-03-09,45,5234763,0,40,9,1,3,6306,0,0,0,882976,887827,GAZ
55845,63,test_Client_11501,51,312,27/10/2009,2019-02-08,45,5234763,0,40,9,1,3,12837,0,0,0,873101,882976,GAZ
55846,63,test_Client_11501,51,312,27/10/2009,2019-02-07,45,5234763,0,40,9,1,3,9064,0,0,0,866128,873101,GAZ
55847,63,test_Client_11501,51,312,27/10/2009,2019-03-05,45,5234763,0,40,9,1,3,14600,0,0,0,845713,856944,GAZ
55848,63,test_Client_11501,51,312,27/10/2009,2019-02-04,45,5234763,0,40,9,1,3,12867,0,0,0,835815,845713,GAZ
55849,63,test_Client_11501,51,312,27/10/2009,2019-04-02,45,5234763,0,40,9,1,3,14498,0,0,0,815166,826319,GAZ
55851,63,test_Client_11501,51,312,27/10/2009,2016-02-06,45,5234763,0,40,9,1,3,14016,0,0,0,501060,511842,GAZ
55852,63,test_Client_11501,51,312,27/10/2009,2016-02-11,45,5234763,0,40,9,1,3,13159,0,0,0,553440,563563,GAZ
55853,63,test_Client_11501,51,312,27/10/2009,2017-02-03,45,5234763,0,40,9,1,3,11142,0,0,0,592454,601025,GAZ
55866,63,test_Client_11501,51,312,27/10/2009,2019-10-06,45,5234763,0,40,9,1,3,11939,0,0,0,856944,866128,GAZ
55867,63,test_Client_11501,51,312,27/10/2009,2019-04-03,45,5234763,0,40,9,1,3,12344,0,0,0,826319,835815,GAZ
55868,63,test_Client_11501,51,312,27/10/2009,2019-03-01,45,5234763,0,40,9,1,3,5870,0,0,0,810650,815166,GAZ
55869,63,test_Client_11501,51,312,27/10/2009,2018-03-01,45,5234763,0,40,9,1,3,11930,0,0,0,691642,700819,GAZ
55870,63,test_Client_11501,51,312,27/10/2009,2017-03-10,45,5234763,0,40,9,1,3,16593,0,0,0,658692,671456,GAZ
55872,63,test_Client_11501,51,312,27/10/2009,2017-04-04,45,5234763,0,40,9,1,3,15122,0,0,0,601025,612658,GAZ
55873,63,test_Client_11501,51,312,27/10/2009,2018-04-12,45,5234763,0,40,9,1,3,11892,0,0,0,801502,810650,GAZ
55874,63,test_Client_11501,51,312,27/10/2009,2018-02-11,45,5234763,0,40,9,1,3,34985,0,0,0,774590,801502,GAZ
55877,63,test_Client_11501,51,312,27/10/2009,2016-11-07,45,5234763,0,40,9,1,3,13098,0,0,0,511842,521918,GAZ
55878,63,test_Client_11501,51,312,27/10/2009,2016-02-08,45,5234763,0,40,9,1,3,10801,0,0,0,521918,530227,GAZ

In [9]:
fs = ['client_id', 'invoice_date', 'counter_type', 'counter_coefficient', 'consommation_level_1', 'consommation_level_2', 'consommation_level_3', 'consommation_level_4', 'old_index', 'new_index', 'months_number', 'tarif_type', 'counter_code']
sub_df = df.query('counter_coefficient * (new_index - old_index) != consommation_level_1 + consommation_level_2 + consommation_level_3 + consommation_level_4')[fs].sort_values(by=['client_id', 'invoice_date'])
sub_df.shape

(7544, 13)

In [10]:
num_fs = ['consommation_level_1', 'consommation_level_2', 'consommation_level_3', 'consommation_level_4']
threshold = 150000
for f in num_fs:
    number_ou = df.query(f'{f} > {threshold}')
    print(f'There are {number_ou.shape[0]} outliers in {f}')
    print(number_ou[fs].sort_values(by=['client_id', 'invoice_date']).head(10))
    print('--------------------------------------------------------------')

There are 0 outliers in consommation_level_1
Empty DataFrame
Columns: [client_id, invoice_date, counter_type, counter_coefficient, consommation_level_1, consommation_level_2, consommation_level_3, consommation_level_4, old_index, new_index, months_number, tarif_type, counter_code]
Index: []
--------------------------------------------------------------
There are 10 outliers in consommation_level_2
                 client_id invoice_date counter_type  counter_coefficient  \
1123035  test_Client_40342   2012-01-20         ELEC                    1
1366146  test_Client_46855   2012-03-04         ELEC                    1
1566688  test_Client_52144   2006-12-22         ELEC                    1
1566700  test_Client_52144   2007-12-27         ELEC                    1
1598179  test_Client_52984   2007-10-22         ELEC                    1
1598178  test_Client_52984   2008-02-21         ELEC                    1
1598177  test_Client_52984   2008-06-20         ELEC                    1
1598176  test_Client_52984   2008-10-20         ELEC                    1
1720653  test_Client_56306   2007-05-14         ELEC                    1
1746546  test_Client_56986   2012-02-10         ELEC                    1

         consommation_level_1  consommation_level_2  consommation_level_3  \
1123035                  1200                293156                     0
1366146                   600                309039                     0
1566688                  1200                190628                     0
1566700                   600                151784                     0
1598179                  1200                152234                     0
1598178                  1200                169010                     0
1598177                  1200                184453                     0
1598176                  1200                156460                     0
1720653                  1200                161435                     0
1746546                   600                266497                     0

         consommation_level_4  old_index  new_index  months_number  \
1123035                     0      28118     322474              2
1366146                     0      35254     344893              2
1566688                     0     672400     864228              4
1566700                     0     121045     273429              2
1598179                     0     109604     263038              4
1598178                     0     263038     433248              4
1598177                     0     433248     618901              4
1598176                     0     618901     776561              4
1720653                     0          0     162635              4
1746546                     0     195990     463087              2

         tarif_type  counter_code
1123035          11           203
1366146          11           467
1566688          11           565
1566700          11           565
1598179          11           565
1598178          11           565
1598177          11           565
1598176          11           565
1720653          11           467
1746546          11           600
--------------------------------------------------------------
There are 0 outliers in consommation_level_3
Empty DataFrame
Columns: [client_id, invoice_date, counter_type, counter_coefficient, consommation_level_1, consommation_level_2, consommation_level_3, consommation_level_4, old_index, new_index, months_number, tarif_type, counter_code]
Index: []
--------------------------------------------------------------
There are 4 outliers in consommation_level_4
                 client_id invoice_date counter_type  counter_coefficient  \
1256505  test_Client_43923   2018-02-11         ELEC                    1
1431710  test_Client_48581   2014-04-17         ELEC                    1
1493059  test_Client_50189   2019-03-09         ELEC                    1
1598154  test_Client_52984   2018-02-11         ELEC                    1

         consommation_level_1  consommation_level_2  consommation_level_3  \
1256505                   600                   300                   600
1431710                   400                   200                   400
1493059                  1200                   600                  1200
1598154                   600                   300                   600

         consommation_level_4  old_index  new_index  months_number  \
1256505                150168     555544     707212              3
1431710                300934     216558     518492              2
1493059                227504     504700     735204              6
1598154                161989     270426     433915              3

         tarif_type  counter_code
1256505          11           600
1431710          11           413
1493059          11           532
1598154          11           600
--------------------------------------------------------------

In [11]:
print(f'The original number of clients is {df.client_id.nunique()}')

new_df = df.query('consommation_level_1 < 150000 and consommation_level_2 < 150000 and consommation_level_3 < 150000 and consommation_level_4 < 150000')
print(f'New number of clients: {new_df.client_id.nunique()}')
# It wouldn't affect the number of clients if I drop these outliers

The original number of clients is 58069
New number of clients: 58069

In [12]:
df.query('months_number == 0').shape

(9, 20)